<h1>{{title}}</h1>
<h2>{{parkName}}</h2>
<a href="/">Make another search</a>
<section>
    {{#if parks}}
    <ul>
        {{#each parks}}
        <li>
            <a href="/Activity/{{parks.id}}">{{parks.name}}</a>
        </li>
        {{/each}}
    </ul>
    {{else}}
     <p class="park-not-found">We're sorry, but no results were found for {{parkName}}.</p>
    {{/if}}
    
   
</section>
