    <h1>{{parks.name}}</h1>
    <h1 id="singleParkId" hidden>{{parks._id}}</h1>
    <div class="singlePark">
        <img src="{{parks.imgUrl}}" onerror="this.src='https://blog.nscsports.org/wp-content/uploads/2014/10/default-img.gif'" alt="{{parks.name}}" class="parkImg">
        {{#if favorite}}
            <a class="button" href="/users/unfavorite/{{parks._id}}">Unfavorite</a>
        {{else}}
            <a class="button" href="/users/favorite/{{parks._id}}">Favorite</a>
        {{/if}}
        <div class="parkInfo">
            <div class=":star-rating-num">({{parks.averageRating}})
                <div class="star-rating">
                    <div class="star-rating-top" style="width:{{rating}}%">
                        <span>★</span>
                        <span>★</span>
                        <span>★</span>
                        <span>★</span>
                        <span>★</span>
                    </div>
                    <div class="star-rating-bottom">
                        <span>★</span>
                        <span>★</span>
                        <span>★</span>
                        <span>★</span>
                        <span>★</span>
                    </div>
                    {{!-- <p>({{parks.averageRating}})</p> --}}
                </div>
            </div>
            <p>Open Time: {{parks.openTime}}</p>
            <p>Close Time: {{parks.closeTime}}</p>
            <p>Address: {{parks.location}}</p>
            <br/>
            <h3>Activities</h3>
            <div class="parkActivities">
                {{#each parks.activities}}
                    <a href="/activities/{{_id}}">
                      <p>
                        {{this.name}}
                      </p>
                    </a>
                {{/each}}
            </div>
            <hr>
            <div class="newComment">
                <div class="commentUser">
                    <div class="commentUsername" id="commentUsername">
                    </div>
                </div>
                <div class="commentContent">
                    <div class="commentContentTxt">
                        <form action="/id/comments/{{parks._id}}" method="POST" id="newCommentForm">
                            <input id={{parks._id}} name="singleParkId" hidden />
                            <input type="text" id="newCommentRating" name="newCommentRating" placeholder="Leave a rate from 0 to 5" value="0" hidden />
                            <div class="rating">
                                <input type="radio" class="ratingNumber" id="star5" name="rating" value="5" hidden/>
                                <label for="star5"></label>
                                <input type="radio" class="ratingNumber" id="star4" name="rating" value="4" hidden/>
                                <label for="star4"></label>
                                <input type="radio" class="ratingNumber" id="star3" name="rating" value="3" hidden/>
                                <label for="star3"></label>
                                <input type="radio" class="ratingNumber" id="star2" name="rating" value="2" hidden/>
                                <label for="star2"></label>
                                <input type="radio" class="ratingNumber" id="star1" name="rating" value="1" hidden/>
                                <label for="star1"></label>
                            </div>
                            <textarea id="newCommentTxt" name="newCommentTxt" placeholder="Leave a friendly comment!"></textarea>
                        </form>
                        
                    </div>
                    <div class="commentContentBtn">
                      <button class="commentButton" id="commentButton"> Comment </button>
                    </div>
                </div>
            </div>

            <hr>

            <div class="parkComment">
                <ul id="commentsList" class="commentsList"></ul>
            </div>

        </div>
    </div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
      crossorigin="anonymous"></script>
<script type="module" src="/public/ajaxComment.js"></script>
