<div class="singleActInfo">
    <h1>{{activity.parkname}}</h1>
    <h2>{{activity.activityname}}</h2>
    <p> {{activity.description}}</p>
    <h3>Number of Count: {{activity.numberOfCourts}}</h3>
    <h3>Max People: {{activity.maxPeople}}</h3> 
</div>
<div class="activityAppointment">
    <h4>Current Appointments: </h4>
    {{#each activity.appointment}}
    <div class="appointmentCard">
        <p>Date and Time: 
            <span>{{this.month}}, {{this.day}}, {{this.year}}  {{this.hour}}:00</span>
        </p>
    </div>
    {{/each}}
    </div>

    <hr>

<input type="text" id="star" name="star" hidden /> 
<div class="createReview">
    <div class="reviewContent">
            <form action="#" method="POST" id="newReviewForm">
                <input type="text" id="activityId" name="activityId" value="{{activity.activityId}}" hidden/>
                <textarea type="text" id="Review" name="Review" placeholder="Leave a friendly review!"></textarea>
                <div class="reviewContentButton">
                    <button type="submit" class="reviewContentBtn" id="button"> Review </button>
                </div>
            </form>
    </div>
</div>

<hr>

<div class="activityComment">
    {{#each activity.reviews}}
        <p>{{this.username}} :</p>
        <p>{{this.userReview}}</p>
        <br />
    {{/each}}
    </div>
