<body>
  <div class="userProfileTitle">
    <h1>Welcome!!! {{user.firstname}} {{user.lastname}}</h1>
    <h2>Your Public Profile</h2>
    
  </div>
  <div class = "userProfile">
    <form action="/users/profile" method="POST" id="profileform">
      {{#if edit}}
      <input type="text" id="userId" name="id" value="{{user.id}}" hidden/> 
      <p> Firstname </p>
      <input type="text" id="userfirstname" name="firstname" value="{{user.firstname}}" />
      <p> Lastname </p>
      <input type="text" id="userlastname" name="lastname" value="{{user.lastname}}" size="30"/>
      <p> Email Address </p>
      <input type="text" id="useremail" name="email" value="{{user.email}}" size="30"/>
      <p> Gender </p>
      <input type="text" id="usergender" name="gender" value="{{user.gender}}" size="30"/>
      <p> City </p>
      <input type="text" id="usercity" name="city" value="{{user.city}}" size="30"/>
      <p> State </p>
      <input type="text" id="userstate" name="state" value="{{user.state}}" size="30"/>
      <p> Age </p>
      <input type="text" id="userage" name="age" value="{{user.age}}" size="30"/>
      <p> Description </p>
      <input type="text" id="userdescription" name="description" value="{{user.description}}" size="30"/>
      <div class="userProfileButton">
        <button type="submit" class="button" ><span>Submit</span> </button>
      </div>
      {{else}}
      <input type="text" id="userId" name="id" value="{{user.id}}" hidden/>
      <h2> Firstname </h2>
      <h3>{{user.firstname}}<h3>
      <h2> Lastname </h2>
      <h3>{{user.lastname}}</h3>
      <h2> Email Address </h2>
      <h3>{{user.email}}</h3>
      <h2> Gender </h2>
      <h3>{{user.gender}}</h3>
      <h2> City </h2>
      <h3>{{user.city}}</h3>>
      <h2> State </h2>
      <h3>{{user.state}}<h3>
      <h2> Age </h2>
      <h3>{{user.age}}</h3>
      <h2> Description </h2>
      <h3>{{user.description}}</h3>
      <p> Your Apointments </p>
      {{#unless user.appointments}}
      <p> You have no appointment right now! </p>
      {{/unless}}
      {{#each user.appointments}}
         <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{this.status}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{this.park}}</h6>
              <h6 class="card-subtitle mb-2 text-muted">{{this.activity}}</h6>
              <p class="card-text">{{this.time}}</p>
              <p class="card-text">{{this.date}}</p>
              <a href="#" class="card-link">Cancel</a>
            </div>
         </div>
      {{/each}}
      <div class="userProfileButton">
        <button type="submit" class="button"><span>Edit Profile</span> </button>
      </div>
      {{/if}}

      <div>
        <a href="/users/logout">Log out</a>
      </div>
    </form>
  </div>
  
</body>