  <div class="userProfileTitle">
    <h1>Welcome!!! {{user.firstname}} {{user.lastname}}</h1>
    <h2>Your Public Profile</h2>
    
  </div>
  <div class = "userProfile">
    <form action="/users/profile" method="POST" id="profileform">
      {{#if edit}}
      <input type="text" id="userId" name="id" value="{{user.id}}" hidden/> 
      <p> Firstname </p>
      <input type="text" id="userfirstname" name="firstname" value="{{user.firstname}}" disabled="disabled"/>
      <p> Lastname </p>
      <input type="text" id="userlastname" name="lastname" value="{{user.lastname}}" disabled="disabled"/>
      <p> Email Address </p>
      <input type="text" id="email" name="email" value="{{user.email}}" onchange="checkEmail()"/>
      <p> Gender </p>
      <input type="text" id="gender" name="gender" value="{{user.gender}}"/>
      <p> City </p>
      <input type="text" id="city" name="city" value="{{user.city}}"/>
      <p> State </p>
      <input type="text" id="state" name="state" value="{{user.state}}"/>
      <p> Age </p>
      <input type="text" id="age" name="age" value="{{user.age}}" onchange="checkNumber()"/>
      <p> Description </p>
      <input type="text" id="description" name="description" value="{{user.description}}"/>
      <p id="inputError"></p>
      <div class="userProfileButton">
        <button type="submit" class="button" ><span>Submit</span> </button>
      </div>
      {{else}}
      <input type="text" id="userId" name="id" value="{{user.id}}" hidden/>
      <p> Firstname </p>
      <p>{{user.firstname}}<p>
      <p> Lastname </p>
      <p>{{user.lastname}}</p>
      <p> Email Address </p>
      <p>{{user.email}}</p>
      <p> Gender </p>
      <p>{{user.gender}}</p>
      <p> City </p>
      <p>{{user.city}}</p>
      <p> State </p>
      <p>{{user.state}}<p>
      <p> Age </p>
      <p>{{user.age}}</p>
      <p> Description </p>
      <p>{{user.description}}</p>
      <p>Favorite</p>
      {{#each user.favorites}}
       <div>
         <a href="/parks/id/{{this.parkId}}">{{this.parkname}}</a>
       </div>
      {{/each}}
      <p> Your Apointments </p>
      {{#unless user.appointments}}
      <p> You have no appointment right now! </p>
      {{/unless}}
      {{#each user.appointments}}
         <div class="card" style="width: 18rem;">
            <div class="card-body">
              <p>Date:</p>
              <h5 class="card-text">{{this.date}}</h5>
              <p>Time:</p>
              <h5 class="card-text">{{this.time}}</h5>
              <p>Place:</p>
              <h6 class="card-subtitle mb-2 text-muted">{{this.park}}</h6>
              <h6 class="card-subtitle mb-2 text-muted">{{this.activity}}</h6>
              <p>Status:</p>
              {{#if this.status}}
              <h5 class="card-title">Matched</h5>
              {{else}}
              <h5 class="card-title">Not Matched</h5>
              {{/if}}
              <h6 class="card-subtitle mb-2 text-muted">------------------------------</h6>
            </div>
         </div>
      {{/each}}
      <div class="userProfileButton">
        <button type="submit" class="button"><span>Edit Profile</span> </button>
      </div>
      {{/if}}

      <div>
        <a href="/users/logout">Log out</a>
      </div>
    </form>
  </div>
  
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
      crossorigin="anonymous"></script>
<script src="/public/checkFunction.js"> </script>